body {
  background: #323232;
  border: 3px solid white;
  margin: 50px;
  height: auto;
  padding-bottom: 20%;
  min-width: 358px;
}

h1, h2{
  text-align: center;
  font-family:'Open Sans', sans-serif;
  font-weight:400;
  margin:0;
}

.banner {
  margin:auto;
  margin-top:20%;
}

h1 {
  color:#32B0E1;
  font-size:6em;
}

h2{
  color:white;
  font-size:4em;
}
